<div class="container">
    <div class="background" id="background"></div>
    <app-header></app-header>
    <main>
        <section class="tabs">
            <div class="tab active" *ngFor="let item of tabs">
                <div class="image" [ngStyle]="{'background-image': 'url(' + item.image + ')'}"></div>
                <span> {{item.name}} </span>
            </div>


        </section>
        <section class="form">
            <div class="rank">
                <app-dota-rank [rank]="min"></app-dota-rank>
                <app-number-input [value]="min" [min]="1" [max]="max" (change)="set('min', $event)" label="رتبه فعلی">
                </app-number-input>
            </div>
            <br>
            <app-range [min]="1" [max]="6500" [value]="[min, max]"
                (chnage)="Seter($event)"></app-range>
            <br><br>
            <div class="rank">
                <app-dota-rank [rank]="max"></app-dota-rank>
                <app-number-input [value]="max" [min]="min" [max]="6500" (change)="set('max', $event)"
                    label="رتبه مطلوب">
                </app-number-input>
            </div>
            <br><br>
            <app-toggle-button label="صف" [labels]="['Core', 'Support', 'Any']"></app-toggle-button>
        </section>
        <section class="order">
            <app-order [Price]="price"></app-order>
        </section>
    </main>
</div>