div.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

    div.background {
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }

    div.background::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-image: url("/assets/wallpaper.jpg");
        background-position: center center;
        background-size: cover;
        filter: blur(10px) brightness(70%);
        transform: scale(1.1);
        z-index: -1;
    }

    div.background::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 25vw;
        height: 25vw;
        background-image: url("/assets/hero.png");
        background-position-x: -5vw;
        background-repeat: no-repeat;
        background-size: cover;
    }

    main {
        display: flex;
        flex-wrap: nowrap;
        height: 100%;

        section.tabs {
            margin-top: 5vh;
            padding: 20px;
            display: flex;
            flex-direction: column;
            width: 280px;

            div.tab {
                padding: 20px;
                box-sizing: border-box;
                border-radius: 10px;
                border: 2px solid rgba(255, 255, 255, 0.2);
                background-color: rgba(0, 0, 0, 0.3);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
                cursor: pointer;
                transition: all 0.2s;

                div.image {
                    width: 80px;
                    height: 80px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                }

                span {
                    font-size: 20px;
                    color: #fff;
                    margin-right: 15px;
                }
            }

            div.tab.active,
            div.tab:hover {
                border-color: var(--theme);
                box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
                background-color: rgba(0, 0, 0, 0.5);
            }
        }

        section.form {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            div.rank {
                display: flex;
                flex-wrap: nowrap;
            }

            app-number-input {
                width: 20vw;
                margin-right: 20px;
            }

            app-range {
                width: 35vw;
            }
        }

        section.order {
            width: 400px;
            margin-left: 0;
            display: flex;
            justify-content: center;

            app-order {
                width: 100%;
                margin-top: 10vh;
            }
        }
    }
}

@media only screen and (min-width: 1401px) {
    main {
        padding: 10px 5vw;
    }
}

@media only screen and (max-width: 1400px) {
    main {
        padding: 10px 2vw;
    }
}

@media only screen and (max-width: 1300px) {
    main {
        flex-wrap: wrap !important;
        align-items: center;

        section.tabs {
            width: 100vw !important;
            height: auto !important;
            justify-content: center;
            align-items: center;

            div.tab {
                max-width: 300px;
                min-width: 250px;
            }
        }

        section.form {
            margin-right: 3vw !important;
            width: 50vw;
        }

        section.order {
            margin-left: 3vw;
        }
    }
}

@media only screen and (max-width: 1080px) {
    section {
        width: 100vw !important;
        height: auto !important;
    }

    section.order {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 600px) {
    section.form {
        align-items: flex-start !important;

        app-dota-rank,
        app-number-input,
        app-range {
            transform: scale(0.7);
        }

        app-dota-rank {
            margin-left: -50px;
        }

        app-range {
            margin: -40px 0;
            width: 100% !important;
        }
    }
}
